<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Practical Shooter App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2.6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>55A123D218EE57EFC4E4EBC666BE0DC141875EC7</string>
				<key>dateExpires</key>
				<string>12/05/2024</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55A123D218EE57EFC4E4EBC666BE0DC141875EC7</string>
						<key>dateExpires</key>
						<string>12/05/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZW4GZHHQL3</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZW4GZHHQL3.com.barneymcgrew.practicalshooterapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>ZW4GZHHQL3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PracticalShooterApp.iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d9d9b7f4-176d-4b6f-93bf-4cadf596fb64</string>
				<key>dateExpires</key>
				<string>12/05/2024</string>
				<key>name</key>
				<string>PSA App Store</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZW4GZHHQL3</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>26</string>
		</dict>
	</array>
</dict>
</plist>
