.suo
bin/
obj/
Debug/
Release/
*.nuget.dgspec.json
PracticalShooterApp/.vs/PracticalShooterApp/DesignTimeBuild/.dtbcache.v2
.idea/
Assets/Marketing/smartphone-mockups-2021-08-26-21-40-22-utc/__MACOSX/._Scenery 1.psd
Assets/Marketing/smartphone-mockups-2021-08-26-21-40-22-utc/__MACOSX/._Scenery 2.psd
Assets/Marketing/smartphone-mockups-2021-08-26-21-40-22-utc/__MACOSX/._Scenery 3.psd
Assets/Marketing/smartphone-mockups-2021-08-26-21-40-22-utc/Scenery 1.psd
Assets/Marketing/smartphone-mockups-2021-08-26-21-40-22-utc/Scenery 2.psd
Assets/Marketing/smartphone-mockups-2021-08-26-21-40-22-utc/Scenery 3.psd
